:root {
    --white-color: #FFF;
    --white-color70: #FFF7;
    --input-bg: #111212;
    --input-border: #282b2e;
    --input-radius: 8px;
    --bg-color: #111216;
    --bg-item: #181a20;
    --gr-blue: linear-gradient(270.95deg,#18a6ff 0.53%,#6e4bff 99.57%);
    --gr-purple: linear-gradient(253deg,#7c55e9 -2.64%,#e955da 106.23%);
}
