* {
    font-family: 'Open Sans', -apple-system;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: var(--bg-color);
}

button {
    border: none;
}